# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Understand the languages used in Data Science.
* Identify commonly used libraries in Data Science.
* Leam basic concepts of Jupyter Notebook.

Some of the popular languages that Data Scientists use are:
1. Pynthon
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. SciPy

| Data Science Tools |
| :------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5.

17.0

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author

Yorki Rojas Vera